body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;


}
 body {
            background: #e6f2e6;
        }
        .navbar, .bg-garten {
            background-color: #4e944f !important;
        }
        .text-garten {
            color: #4e944f !important;
        }
        .btn-garten, .btn-success {
            background-color: #88c999 !important;
            border-color: #88c999 !important;
        }
        .card-title {
            color: #4e944f;
        }
        footer {
            background-color: #4e944f;
        }
        .card {
            border: 1px solid #cce3cc;
        }
        .form-label {
            color: #4e944f;
        }
        .carousel-caption {
            background: rgba(78, 148, 79, 0.6);
            border-radius: 0.5rem;
        }
    

header {
    background: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.section {
    padding: 20px;
    background: white;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.footer {
    text-align: center;
    padding: 10px 0;
    background: #4CAF50;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}